{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block menu %}
	<li><a href="{% url 'this_month' %}">Calendar</a></li>
	<li><a href="{% url 'make-reservation' %}">Make Reservation</a></li>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<p>{{ content }}</p>
<br/>
<table class='tabela-nalozi'>
	<tr>
		<th>Latest</th>
	</tr>
	<tr>
		<th>Date</th>
		<th>Title</th>
	</tr>
	{% for reservation in reservations %}
	<tr>
		<td>{{ reservation.date_reserved|date:"M d Y" }}, {{ reservation.date_reserved|time:"H:i" }}</td>
		<td><a href="{% url 'reservations.views.reservation' reservation.id %}">{{ reservation.title }}</a></td>
	</tr>
	{% endfor %}
</table>
<br/>
{% endblock %}
